* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Roboto, sans-serif;
  width: 100%;
  height: 100%;
}

a{
  text-decoration: none;
}

.clearfix{
  overflow: auto;
}

.main-width{
    margin: 0 auto;
    max-width: 1200px;
    min-width: 320px;
}

