.header{
  position: fixed;
  top: 0;
  height: 76px;
  width: 100%;
  transition: all 1s;
  z-index: 5;
}

.header_scrolled{
  background-color: #455466;
  transition: all 1s;
  box-shadow: 0 0 20px 0 rgba(254, 203, 0, 0.4);
}

.header .main-width {
  padding: 0 40px;
}

.header__logo{
  float: left;
}

.header__image{
  margin: 10px;
  vertical-align: middle;
}

