@media (min-width: 768px) and (max-width: 992px)  {
  .services__header,
  .btn_services {
    display: none;
  }

  .services__list{
    right: 0;
    left: 0;
  }

  .services__item {
    margin: 20px auto 0 auto;
  }
}