.mobile-menu{
  display: none;

}

.mobile-menu__list{
  list-style: none;
  display: none;
  position: fixed;
  left: 10px;
  top: 10px;
  padding: 5px;
  border-radius: 4px;
  background-color: #1e88f5;
  box-shadow: 0 0 30px 0 rgba(30, 136, 245, 0.9);
}

.mobile-menu__item{
  border-radius: 4px;
  transition: .5s ease-in-out;
  &:hover{
    background-color: #1e56f6;
    transition: .3s ease-in-out;
  }
}

.mobile-menu__link{
  display: inline-block;
  width: 100%;
  padding: 10px;
  font-size: 36px;
  color: #ffffff;
  text-shadow: 0 0 50px #fff;
}