.nav{
  float: right;
  margin-right: 4px;
}

.nav__list{
  margin: 10px 0;
  height: 56px;
}

.nav__item{
  display: inline-block;
}

.nav__link{
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
  padding: 18px 25px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  text-shadow: 0 1px 30px rgba(8, 35, 63, 0.5);
  transition: all 0.4s;
  &:hover {
    color: #000;
    background-color: #ffcc01;
    transition: all 0.4s linear;
  }
}
