.nav{
  float: right;
}

.nav__list{
  margin: 10px 0;
  height: 56px;
}

.nav__item{
  display: inline-block;
  margin-right: 4px;
}

.nav__link{
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
  padding: 18px 25px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  text-shadow: 0 0 30px 0 rgba(30, 136, 245, 0.9);
  transition: all 0.4s;
  &:hover {
    background-color: #1e56f6;
    transition: all 0.4s linear;
  }
}

.active{
  background-color: #1e88f5;
  box-shadow: 0 0 30px 0 rgba(30, 136, 245, 0.9);
}
