.workflow__header{
  padding-top: 85px;
  font-size: 38px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #0d253e;
}

.workflow__description{
  padding-top: 20px;
  opacity: 0.4;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.36;
  text-align: center;
  color: #0d253e;
}

.workflow__item{
  display: block;
  float: left;
  margin-bottom: 40px;
  height: 200px;
  text-align: center;

  &:first-child .workflow__link,
  &:last-child .workflow__link{
    background-color: #1e88f5;
  }
}

.workflow__link{
  position: relative;
  text-align: center;
  font-size: 18px;
}

.workflow__number{
  position: absolute;
  top:0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffcc01;
  color: #ffffff;
  line-height: 20px;
  padding: 10px 0;
  text-align: center;
}

.workflow__definition{
  font-size: 18px;
  color: #0d253e;
  opacity: 0.4;
}