.workflow__header{
  padding-top: 131px;
  font-size: 38px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #0d253e;
}

.workflow__description{
  padding-top: 20px;
  opacity: 0.4;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  text-align: center;
  color: #0d253e;
}


.workflow__chart{
  padding: 15px;
}

.workflow__box_first, .workflow__box_second{
  margin: 0 auto;
  width: 80%;
  height: 123px;
  border-top: dotted 4px #e8edf2;
  border-bottom: dotted 4px #e8edf2;
  background-color: #ffffff;
}

.workflow__box_first{
  float: right;
  border-right: dotted 4px #e8edf2;
  border-radius: 0 100px  100px 0;
}

.workflow__box_second{
  float: left;
  margin: -4px;
  border-left: dotted 4px #e8edf2;
  border-radius: 100px 0 0 100px;
}

.workflow__list{
  list-style: none;
}

.workflow__item{
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #f5f8fc;
  border: solid 6px #ffffff;
  border-radius: 50%;
  line-height: 150px;
  text-align: center;
  z-index: 2;
}
