.workflow {
  & .list__item {
    float: left;
    margin-bottom: 40px;
    height: 200px;
    text-align: center;

    &:first-child .list__link,
    &:last-child .list__link {
      background-color: #1e88f5;
    }
  }

  & .list__link {
    position: relative;
    text-align: center;
    font-size: 18px;
  }
}

.workflow__header {
  padding-top: 85px;
  font-size: 38px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #0d253e;
}

.workflow__description {
  padding-top: 20px;
  opacity: 0.4;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.36;
  text-align: center;
  color: #0d253e;
}
