.services{
  position: relative;
  padding: 76px 0;
}

.services__background{
  width: 100%;
  height: 645px;
  background: url("../img/img02.jpg") top no-repeat fixed;
}


.services__header{
  padding: 200px 20px 20px 20px;
  font-size: 46px;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0 50px #0d253e;
}

.services__list{
  position: absolute;
  top: 16px;
  right: 20px;
  list-style: none;
}

.services__item{
  width: 660px;
  height: 230px;
  margin-top: 20px;
  padding: 45px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 10px rgba(13, 36, 62, 0.1);
}

.services__name{
  font-size: 30px;
  font-weight: 300;
  color: #0d253e;
}

.services__description{
  margin-top: 15px;
  opacity: 0.4;
  font-size: 22px;
  font-weight: 300;
  color: #0d253e;
}
