#top{
  height: 630px;
  width: 100%;
  background: url("../img/img01.jpg") top no-repeat fixed;
  text-align: center;
}

.top__header{
  padding-top: 187px;
  font-size: 46px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 0 30px rgba(13, 36, 62, 0.7);
}
